{% extends 'base.html' %}


{% block content %}
<div>

    {% for post in posts %}
    <div id="post-{{ post.pk }}" class="panel panel-default post">
        <div class="panel-heading">
            {{ post.author }}

            {% if user.pk == post.author.pk %}
            <form
                    action="{% url 'post:post_delete' post_pk=post.pk author_pk=post.author_id %}"
                    method="POST" style="float :right;">
                {% csrf_token %}
                <button class="btn btn-xs btn-primary">글 삭제</button>
            </form>
            {% endif %}

        </div>
        <div class="panel-body">
            <a href="{% url 'post:post_detail' post_pk=post.pk %}">
                <img src="{{ post.photo.url }}" class="img-post">
            </a>

            <!--왜 안먹어?-->
            {% include 'include/post.html' with submit_text='?next=/post/#post-comments-{{ post.pk }}' %}


        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}