{% extends 'base.html' %}
<!--
1. 작성자 username나오게
2. Post를 나타내는 HTML요소를 include/post.html로 분리해서 사용
3. Post및 Comment삭제 기능 추가(작성한 유저만 가능하도록)
-->

{% block content %}
<div>

    {% for post in posts %}
    <div id="post-{{ post.pk }}" class="panel panel-default post">
        <div class="panel-heading"
        {% if user.pk == post.author.pk %}
        style="color:blue" {% endif %}>
        {{ post.author }}

            {% if user.pk == post.author.pk %}
            <form
                    action="{% url 'post:post_delete' post_pk=post.pk author_pk=post.author_id %}"
                    method="POST" style="float :right;">
                {% csrf_token %}
                <button class="btn btn-xs btn-primary">글 삭제</button>
            </form>
            {% endif %}

        </div>
        <div class="panel-body">
            <a href="{% url 'post:post_detail' post_pk=post.pk %}">
                <img src="{{ post.photo.url }}" class="img-post">
            </a>

            <!--왜 안먹어?-->
            {% include 'include/post.html' with submit_text='?next=/post/#post-comments-{{ post.pk }}' %}


        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}